body
{
  background-color: rgb(255,251,70);
  color: rgb(20,22,101);
}

hr
{
  background-color: red;
}

.card.mb-3
{
  background-color: rgb(255,251,70);
  border-color: rgb(255,251,70);
}

/* Page d'accueil */

.row.mt-5.mb-5
{
  justify-content: space-around;
}

#charlot
{
  margin-left: 70px;
}

.row.justify-content-start
{
  width: 60%;
  justify-content: center;
}

.sidebar.col-md-3, .col-md-7
{
  margin-top: 30px;
}

.mb-3
{
  text-align: center;
}

figcaption
{ 
    position: absolute; 
    background: rgba(242,32,9, 0.9);
    color: white; 
    width: 100%;
    height: 40%;
    padding: 15px 10px;;
    opacity: 0;
    line-height: 16px;
    bottom: -30%; 
    left: 0;
    transition: all 0.6s ease;
}

figure:hover figcaption
{
    opacity: 1;
    bottom: 0;
}

/* header */

nav
{
  background-color: rgb(242,32,9);
}

.navbar-toggler
{
  background-color: yellow;
}

#logo p
{
  color: white;
  font-size: 0.7em;
  text-align: center;
}

.navbar.navbar-expand-lg a
{
  color: yellow;
}

#title
{
  color: white;
}

.row p
{
  text-align: center;
}

.row a
{
  margin: auto;
}

figcaption
{
  line-height: 1.2em;
}

#logo
{
  margin-left: 30px;
  font-size: 1.5em;
}

#logo a
{
  font-size: 1.3em;
}

.nav-link
{
  margin-left: 30px;
}

#navbarSupportedContent ul
{
  justify-content: space-around;
  display: flex;
}

#fb, #twitter
{
  margin-right: 15px;
  margin-left: 5px;
}

#twitter
{
  margin-left: 100px;
}

/* Page single */
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

#filmreel img
{
  margin-left: 550px;
  margin-top: -40px;
}

#watchmovie img
{
  margin: auto;
}

#date_genre span
{
  font-size: 1.3em;
  color: rgb(179,89,0);
  float: left;
  width: 10em;
}

#date_genre p
{
  text-align: left;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sidebar {
  border-left: 1px solid #ccc; 
  height: 100%;
  padding-left: 10px;
}

.rating {
  /* Affichage de la note en étoiles de gauche à droite */
  unicode-bidi: bidi-override;
  direction: rtl;
  max-width: 115px;
}

.rating i {
  cursor: pointer;
}

.rating > i.checked
{
  color: green;
}

.rating > i:hover:before,
.rating > i:hover ~ i:before {
  color: red;
}

.formulaire .glyphicon-share-alt 
{
  color: rgb(69,82,233);
}

.formulaire .glyphicon-warning-sign 
{
  color: rgb(209, 68, 23);
}

.lead
{
  text-align: justify !important;
}

h4
{
  color: red;
}

h5
{
  color: red;
}

/* Liste des films */

#movie_list th
{
  background-color: rgb(242,32,9);
  color: yellow;
}

.pagination 
{
    margin-left: 400px;
    margin-right: 200px;
    margin-top: 10px;
}

.pagination a 
{
    color: red;
    padding: 8px 16px;
    text-decoration: none;
justify-content: center;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) 
{
    background-color: #ddd;
    border-radius: 5px;
}

#share-buttons
{
  margin-top: 25px;
}

#share-buttons a
{
  text-decoration: none;
}

#share-buttons img 
{
width: 50px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}

table 
{
  border-collapse: collapse;
}

th, td 
{
  padding: 5px 10px;
  border: 1px solid #999;
  background-color: rgb(237,182,228);
}

th[data-sort]
{
  cursor:pointer;
}

tr.awesome
{
  color: red;
}

#msg 
{
  color: green;
}

#movie_list
{
  margin: auto;
}

th, td
{
  text-align: center;
}

/* Contact form */

#contact_title
{
  font-size: 1.8em;
  margin-top: 50px;
  text-align: center;
}

.far.fa-comment-dots
{
  font-size: 2.5em;
  color: red;
  margin-left: 100px;
}

/* Account.php */

.account
{
  justify-content: center;
  margin: auto;
}

#backbutton
{
  margin-bottom: 50px;
  margin-top: -35px;
}

.row.row-account
{
  display: block;
  margin: auto;
}

.row.row-account h1
{
  margin-right: 50px;
  font-size: 1.3em;
  justify-content: center;
}

/* Dashboard */
.dashboard
{
  margin-top: 50px;
}

.dashboard h1
{
  display: flex;
  justify-content: space-around;
}

.panel-title
{
  background-color: rgb(242,32,9);
  justify-content: center;
}

#nav-item
{
  background-color: rgb(242,32,9);
  border-color: rgb(242,32,9);
  border-radius: 5px 0px 0px 5px;
}

#nav-itemt
{
  background-color: green;
  border-radius: 0px 5px 5px 0px;
}

.nav.nav-tabs a
{
  text-decoration: none;
  color: white;
}

.scroll
{
  overflow: scroll;
  height: 2000px;
}

.admin 
{
  height: 500px;
  width: 200px;
}

.dashboard, .account
{
  padding-top: 35px;
  min-height: 800px;
}

.about 
{
  margin-top: 25px;
}

.about .col-md-12
{
  display: flex;
}

.update
{
  padding: 35px;
}

.admin-titre
{
  display: flex;
}

.comment_form
{
  display: flex;
  flex-wrap: wrap-reverse;
  background-color: red;
}

#answer
{
  margin-left: 30px;
}

.gestionPanel .panel-heading 
{
  background-color: rgb(37,137,39) !important;
  color: white !important;
}

.btn-warning
{
    background-color: rgb(37,137,39) !important;
    border-color: rgb(37,137,39) !important;
    color: white;
}

.singleContent 
{
  width: 90%;
  margin: auto;
  padding-top: 15px;
}

.admin .hello 
{
  padding-bottom: 10px;
  text-align: center;
}

.admin .btn-success 
{
  background-color: rgb(242,32,9) !important;
  border: none !important;
}

.row-account 
{
  padding-top: 35px !important;
}

.noDisplay
{
  display: none;
}

#film_management
{
  background-color: rgb(242,32,9);
}

.panel-title
{
  background-color: green;
}

#badComments .panel-heading 
{
  background-color: rgb(37,137,39) !important;
  color: white !important;
}

/* Login.php*/
#login_page
{
  margin-top: 50px;
  width: 35%;
}

/*create.php*/

#id_exists
{
  color: red;
}

#id_added
{
  color: green;
}

#exception
{
  color: red;
}

#movie_updated
{
  color: green;
}

/* About */
.tagline.tagline-home
{
  margin-top: 50px;
  font-size: 1.7em;
}

/* footer */

.col-lg-12.footer
{
  display: flex;
}

.page-footer.font-small.blue.pt-4
{
  display: flex;
  text-decoration: none;
  color: yellow;
  justify-content: space-around;
  background-color: red;
}

.page-footer.font-small.blue.pt-4 a
{
  text-decoration: none;
  color: yellow;
}

.freeculture
{
  display: flex;
}

.freeculture ul
{
  list-style: none;
}

/*Menu déroulant/*

 /* Dropdown Button */
.dropbtn 
{
    border: none;
    cursor: pointer;
    background-color: rgb(242,32,9);
    color: yellow;
}

/* The container <div> - needed to position the dropdown content */
.dropdown 
{
    position: relative;
    display: inline-block;
    margin-top: 8px;
    margin-left: 26px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: rgb(242,32,9);
    min-width: 280px;
    line-height: 0.8em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a 
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover 
{
  background-color: red
  }

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show 
{
  display:block;
} 

/* Sur smartphones et tablettes format portrait */
@media all and (max-width: 540px) 
{   
  #navig, #logoimg
  {
    max-width: 50px;
  }

  #navig
  {
    margin-left:0;
  }

  #logo a
  {
    font-size: 1em;
  }

  #charlot
  {
    display: none;
  }

  .pagination 
  {
    margin: auto;
    margin-top: 10px;
  }
}