body
{
  background-color: yellow;
  color: rgb(20,22,101);
}

hr
{
  background-color: red;
}

.card.mb-3
{
  background-color: yellow;
  border-color: yellow;
}

/* Page d'accueil */

.row.mt-5.mb-5
{
  justify-content: space-around;
}

#charlot
{
  margin-left: 70px;
}

.row.justify-content-start
{
  width: 60%;
  justify-content: center;
}

.sidebar.col-md-3, .col-md-7
{
  margin-top: 30px;
}

.mb-3
{
  text-align: center;
}

figcaption
{ 
    position: absolute; 
    background: rgba(242,32,9, 0.9);
    color: white; 
    width: 100%;
    height: 25%;
    padding: 15px 10px;;
    opacity: 0;
    line-height: 8px;
    bottom: -30%; 
    left: 0;
    transition: all 0.6s ease;
}

figure:hover figcaption
{
    opacity: 1;
    bottom: 0;
}

/* header */

nav
{
  background-color: rgb(242,32,9);
}

.navbar.navbar-expand-lg a
{
  color: yellow;
}

#title
{
  color: white;
}

.row p
{
  text-align: center;
}

.row a
{
  margin: auto;
}

figcaption
{
  line-height: 0.8em;
}

#logo
{
  margin-left: 30px;
  font-size: 1.5em;
}

#logo a
{
  font-size: 1.3em;
}

.nav-link
{
  margin-left: 30px;
}

#navbarSupportedContent ul
{
  justify-content: space-around;
}

#fb, #twitter
{
  margin-right: 15px;
  margin-left: 5px;
}

#twitter
{
  margin-left: 150px;
}

/* Page single */
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

#filmreel img
{
  margin-left: 550px;
  margin-top: -40px;
}

#watchmovie img
{
  margin-left: 150px;
}


#date_genre span
{
  font-size: 1.3em;
  color: rgb(179,89,0);
  float: left;
  width: 10em;
}

#date_genre p
{
  text-align: left;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sidebar {
  border-left: 1px solid #ccc; 
  height: 100%;
  padding-left: 10px;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  max-width: 115px;
}

.rating i {
  cursor: pointer;
}

.rating > i.checked,
.rating > i:hover:before,
.rating > i:hover ~ i:before {
  color: orange;
}

.formulaire .glyphicon-share-alt 
{
  color: rgb(69,82,233);
}

.formulaire .glyphicon-warning-sign 
{
  color: rgb(209, 68, 23);
}

.lead
{
  text-align: justify !important;
}

h4
{
  color: red;
}

h5
{
  color: red;
}

/* Liste des films */

#movie_list th
{
  background-color: rgb(242,32,9);
  color: yellow;
}

.scroll
{
  overflow:scroll;
  height: 1000px;
}

#share-buttons
{
  margin-top: 25px;
}

#share-buttons a
{
  text-decoration: none;
}

#share-buttons img 
{
width: 50px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}

table 
{
  border-collapse: collapse;
}

th, td 
{
  padding: 5px 10px;
  border: 1px solid #999;
  background-color: rgb(243,250,126);
}

th[data-sort]
{
  cursor:pointer;
}

tr.awesome
{
  color: red;
}

#msg 
{
  color: green;
}

#movie_list
{
  margin: auto;
}

th, td
{
  text-align: center;
}

/* Contact form */

#contact_title
{
  font-size: 1.8em;
  margin-top: 50px;
  text-align: center;
}

.far.fa-comment-dots
{
  font-size: 2.5em;
  color: red;
  margin-left: 100px;
}

/* Account.php */

.account
{
  justify-content: center;
  margin: auto;
}

#backbutton
{
  margin-bottom: 50px;
  margin-top: -35px;
}

.row.row-account
{
  display: block;
  margin: auto;
}

.row.row-account h1
{
  margin-right: 50px;
  font-size: 1.3em;
  justify-content: center;
}

/* Dashboard */
.dashboard
{
  margin-top: 50px;
}

.dashboard h1
{
  display: flex;
  justify-content: space-around;
}

.panel-title
{
  background-color: rgb(242,32,9);
  justify-content: center;
}

#nav-item
{
  background-color: rgb(242,32,9);
  border-radius: 5px;
}

.nav.nav-tabs a
{
  text-decoration: none;
  color: white;
}

.admin 
{
  padding: 35px;
  height: 500px;
  width: 450px;
  margin: 150px auto;
}

.dashboard, .account
{
  padding-top: 35px;
  min-height: 800px;
}

.gestionPanel
{
  margin-top: 35px;
}

.about 
{
  margin-top: 25px;
}

.about .col-md-12
{
  display: flex;
}

.update
{
  padding: 35px;
}

.admin-titre
{
  display: flex;
}

.comment_form
{
  display: flex;
  flex-wrap: wrap-reverse;
  background-color: red;
}

#answer
{
  margin-left: 30px;
}

.gestionPanel .panel-heading 
{
  background-color: rgb(37,137,39) !important;
  color: white !important;
}

.btn-warning
{
    background-color: rgb(37,137,39) !important;
    border-color: rgb(37,137,39) !important;
    color: white;
}

.singleContent 
{
  width: 90%;
  margin: auto;
  padding-top: 15px;
}

.admin .hello 
{
  padding-bottom: 10px;
  text-align: center;
}

.admin .btn-success 
{
  background-color: rgb(104, 1, 72) !important;
  border: none !important;
}

.row-account 
{
  padding-top: 35px !important;
}

.noDisplay{
  display: none;
}

#badComments {
margin-top: 35px;
}

#badComments .panel-heading {
  background-color: rgb(37,137,39) !important;
  color: white !important;
}

/* Login.php*/
#login_page
{
  margin-top: 50px;
  width: 35%;
}

/*create.php*/

#id_exists
{
  color: red;
}

#id_added
{
  color: green;
}

#exception
{
  color: red;
}

#movie_updated
{
  color: green;
}

/* About */
.tagline.tagline-home
{
  margin-top: 50px;
  font-size: 1.7em;
}

/* footer */

.col-lg-12.footer
{
  display: flex;
}

/* Sur smartphones et tablettes format portrait */
@media all and (max-width: 540px) 
{   
  #navig, #logoimg
  {
    max-width: 50px;
  }

  #navig
  {
    margin-left:0;
  }

  #logo a
  {
    font-size: 1em;
  }

  #charlot
  {
    display: none;
  }
}